body{
  font-family: 'Work Sans', sans-serif;
    margin: 0;
  padding: 0;
  text-align: center;
  
}

ul,ol li{
  list-style: none;
}

.menu > ul > li:last-child {
  font-weight: bold;
}

a{
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

a:hover{
  color:#2d65ff;
  font-weight: bold;
}

.menu{
  background-color: #ffffff73;
  display: flex;
  justify-content: space-around;
  padding: 0px 0px 0px 0;
  
}

.menu li{
  display: initial;
  padding-right: 47px;
  padding-left: 36px;
}

.menu img{
  width: 40px;
  padding: 10px;
  padding-bottom: 20px;
}

.banner {
  padding-top: 257px;
  padding-bottom: 85px;
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: -68px;
  color: #040404;
  text-align: center;
  font-size: 25px;
}

.perfil{
  background-color: #efefef;
  justify-content: center;
  font-size: 20px;
  margin-right: 0;
  margin-left: 0;
  padding: 20px;
  
}

.box1{
  justify-content: center;
  font-size: 25px;
  margin-right: 354px;
  margin-left: 354px;
  
  
}

.tweet{
  display: flex;
  padding: 0;
  width: auto;
}


.img-study{
  border-image: 0;
  width: 370px;
  padding-left: 30px;
}

/* .container{
  display: inline-flex;
  align-items: center;
  
} */

.certifcados{
  display: flex;
  flex-direction: row;  
  justify-content: space-between
}

.certificados-box{
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin-top: 17px;
  margin-left: -10%;
  margin-right: 0%;
}

.box2{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 3%;
}

.formacoes-certificados{
  display: flex;
  align-items: flex-start;
  margin-top: 1%;
  margin-right: 24px;
}

.experiencia{
  display: flex;
  flex-direction: row;  
}

.experiencia-box{
  background-color: #efefef;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin-left: -12%;
  margin-right: 0%;
  margin-top: 3px;
  margin-top: 11px;
  text-align: left;
  font-size: 15px;
  margin-right: -12px;

}

.box3{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 3%;
}

.experiencia-data{
  display: flex;
  align-items: flex-start;
  margin-left: 14%;
  margin-top: 1%;
  justify-content: space-around;
  margin-right: 4%;
  
}

.img-work{
  border-image: 0%;
  width: 385px;
  padding-left: 0;
  margin-left: 8%;
}


.horas-vagas{
  background-color: white;
  display: flex;
  flex-direction: row;
  margin-top: 18px;
}

.box4{
  display: flex;
  font-size: 15px;
  margin-right: 4%;
  text-align: left;
  margin-left: 1%;
}

.img-live{
  width: 300px;
  padding-left: 0;
}

.hobbies{
  display: flex;
  align-items: flex-start;
  margin-left: 14%;
  margin-top: 1%;
  justify-content: space-around;
  margin-right: 4%;
  
}

.contato{
  background-color: #efefef;
  justify-content: center;
  font-size: 85%;
  margin-right: 0;
  margin-left: 0;
  padding: 1%;
  margin-top: 20px;
}
